# Arquivos de Dados e Modelos Pesados
data/
*.csv
*.xlsx
*.pkl

# Ambientes Virtuais e Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Configurações do Google Colab e IDEs
.ipynb_checkpoints/
.vscode/
.idea/

# Credenciais e Chaves de API (Segurança!)
.kaggle/
kaggle.json